/* produto detalhado */
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;


}

.small-img-group{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;

}
#prodetails .pro-details{
    width: 50%;
    padding-top: 30px;

}
#prodetails .pro-details h4{
   padding: 40px 0 20px 0;

}
#prodetails .pro-details h2{
  font-size: 26px;

}
#prodetails .pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;

}
#prodetails .pro-details input:focus{

}

#prodetails .pro-details button{
    border: none;
    background: #088178;
    color: #ffff;
    height: 50px;

}
#prodetails .pro-details span{
    line-height: 25px;
}

