body{
    background-color: #E3E6F3;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: black;
}

.container {
            display: flex;
            justify-content: center;
            margin: auto;

            }

input {
        height: 50px;
          width: 350px;
          padding: 5px 10px;
          margin:auto;
          box-sizing: border-box;
    border-radius: 10px ;

}

.login_page{


    opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;

}


.teste1{
    display: block;
    margin-top: -450px;
    visibility: visible;
    opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;

}
.teste2{
    display: block;
    margin-top: -290px;
    visibility: hidden;
    opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;

}
.teste3{
    display: block;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;

}

.form-control{
   height: auto;
          width: 350px;
          padding: 10px 10px;
}



#btn1{
    width: 100%;
}

#btn2{
    width: 100%;
}





